<% content_for(:title, "All Lines | Trimet") %>

<h1>Lines</h1>

<ul>
  <% @lines.each do |line| %>
    <li><%= link_to "#{line.name}", line_path(line) %>
      </li>
  <% end %>
</ul>


<%= link_to "New Line", new_line_path, :class=> "btn btn-success" %>
<%= link_to "Station Menu", stations_path, :class=> "btn btn-primary" %>
<%= link_to "Add a bus", new_bus_path, :class=> "btn btn-danger" %>
