<%= form_for @station, :html => { :multipart => true } do |form| %>
  <div class='form-group'>
    <%= form.label "Station Name" %>
    <%= form.text_field :name %>
</div>
    <%= form.submit(:class => "btn btn-primary") %>

<% end %>
